* {
  box-sizing: border-box;
}

:root {
  --standard-main-color: rgba(20, 20, 20, 1);
  --standard-green: rgba(30, 40, 39, 1);
  --standard-white: rgba(255, 255, 255, 1);
  --standard-secondary-text-color: rgba(20, 20, 20, 0.5);
}

.container {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
}

.cards-container {
  overflow: hidden;
}



.catalog-container {
  display: flex;
  flex-direction: column;
}

.watch-style-container {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
}

.catalog-container h2 {
  font-family: "Epilogue";
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
}

.watch-style {
  display: flex;
  flex-direction: column;
}

.items-catalog {
  position: relative;
  transition: transform 2s ease-in-out;
}

.watch-style p {
  font-family: "Epilogue";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--standard-green);
}

.watch-style span {
  font-family: Epilogue;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--standard-secondary-text-color);
}

.price-style p {
  overflow: hidden;
  color: var(--standard-main-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Epilogue";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}

.price-style span {
  color: var(--standard-secondary-text-color);
  font-family: "Epilogue";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.24px;
}

/* BACK FLIP CARDS */


.flip-card {
  overflow: hidden;
  position: relative;
  background-color: var(--standard-green);
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translateX(100%); */
  /* transform: rotate3d(0, 1, 0, 90deg); */
}

/* .items-catalog:hover .flip-card {
  transform: translateX(0);
} */

/* 
.items-catalog:hover {
  transform: rotate3d(0, 1, 0, 90deg);
}

.items-catalog:hover .flip-card {
  transform: rotate3d(0, 1, 0, 90deg);
} */

.cards-container img {
  transition: transform 1s ease-in-out;
}


.items-catalog:hover img {
  transform: rotate3d(0, 1, 0, 90deg);
}

.items-catalog .flip-card {
  transition: transform 1s ease-in-out;
}

.items-catalog:hover .flip-card {
  transform: rotate3d(0, 1, 0, 90deg);
}


.details-flip-card {
  padding: 0;
}

.flip-card h4 {
  color: #fff;
  padding-left: 20px;
}

.flip-card p {
  color: rgba(255, 255, 255, 0.5); 
  padding-left: 20px;
}

.details-flip-card li {
  list-style-type: none;
  text-decoration: none;
}

.details-flip-card ul {
  padding: 0;
}


.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.button-style {
  font-family: Epilogue;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  background-color: var(--standard-green);
  color: var(--standard-white);
  border-radius: 8px;
  padding: 14px 28px 14px 28px;
  border: none;
}

/* TABLETA */

@media screen and (min-width: 768px) {
  .catalog-container {
    max-width: 704px;
  }

  .watch-style-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;

  }
}

/* DESKTOP */

@media screen and (min-width: 1158px) {
  .catalog-container {
    max-width: 1136px;
  }
  .watch-style-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .cards-container {
    width: 250px;
  }

  
}
